/*css document*/
body{
		background-image:url(../images/bgimg.jpg);
}
div.main{
	border:0px solid black;

	margin-top:60px;
	
}
.main .app-body{
	border:0px solid black;
	text-align:center;
	
	}
.box{
	width:100%;
	height:150px;
	text-align:center;
	border:0px solid lightgrey;
	margin:20px 0 0 -20px;	
}
.col-md-4:hover{
	border:1px solid gray;	
}
.box  img{
	height:130px;
	width:80%;
	margin:10px 0 0 60px;
}


.main .app-body .row{
	margin:0 auto;
	}
.main .app-body  .row  .col-md-2{
	margin:0 0 0 150px;
}