/*css document*/
.main{
	margin-top:100px;
	border:1px solid black;
}
.form_component{
margin-top:100px;
width:700px;
}
legend{
margin-left:40px;
}
fieldset{
width:180px;
}
form{
margin:0 0 0 100px;
}